In [ ]:
'''
Learn Machine Learning in a way that is accessible to absolute beginners. You will learn the basics of Machine Learning and how to use TensorFlow to implement many different concepts.

‚úèÔ∏è Kylie Ying developed this course. Check out her channel:   

 / ycubed  

‚≠êÔ∏è Code and Resources ‚≠êÔ∏è
üîó Supervised learning (classification/MAGIC): https://colab.research.google.com/dri...
üîó Supervised learning (regression/bikes): https://colab.research.google.com/dri...
üîó Unsupervised learning (seeds): https://colab.research.google.com/dri...
üîó Dataets (add a note that for the bikes dataset, they may have to open the downloaded csv file and remove special characters)
üîó MAGIC dataset: https://archive.ics.uci.edu/ml/datase...
üîó Bikes dataset: https://archive.ics.uci.edu/ml/datase...
üîó Seeds/wheat dataset: https://archive.ics.uci.edu/ml/datase...
'''

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
path = "dataset/magic04.data"
df = pd.read_csv(path, header=None)
col_list = ['fLength',
            'fWidth',  
            'fSize',    
            'fConc',   
            'fConc1',  
            'fAsym',   
            'fM3Long',  
            'fM3Trans', 
            'fAlpha',  
            'fDist',  
            'class']
df.columns = col_list
df

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,h
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,h
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,h
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,h
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,h

In [22]:
df.describe()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist
count,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000
mean,53.250154,22.180966,2.825017,0.380327,0.214657,-4.331745,10.545545,0.249726,27.645707,193.818026
std,42.364855,18.346056,0.472599,0.182813,0.110511,59.206062,51.000118,20.827439,26.103621,74.731787
min,4.283500,0.000000,1.941300,0.013100,0.000300,-457.916100,-331.780000,-205.894700,0.000000,1.282600
25%,24.336000,11.863800,2.477100,0.235800,0.128475,-20.586550,-12.842775,-10.849375,5.547925,142.492250
50%,37.147700,17.139900,2.739600,0.354150,0.196500,4.013050,15.314100,0.666200,17.679500,191.851450
75%,70.122175,24.739475,3.101600,0.503700,0.285225,24.063700,35.837800,10.946425,45.883550,240.563825
max,334.177000,256.382000,5.323300,0.893000,0.675200,575.240700,238.321000,179.851000,90.000000,495.561000

In [23]:
df['class'].value_counts()
# g = gamma (signal)     12332
# h = hadron (background) 6688

g    12332
h     6688
Name: class, dtype: int64

In [24]:
df[df['class'] == 'g'].describe()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist
count,12332.000000,12332.000000,12332.000000,12332.000000,12332.000000,12332.000000,12332.000000,12332.000000,12332.000000,12332.000000
mean,43.654539,18.592698,2.784021,0.383641,0.215048,3.236653,17.809413,0.190873,18.784309,190.229712
std,26.173434,9.028666,0.463083,0.177979,0.106201,39.632629,33.942780,13.551423,21.482585,70.302384
min,12.192900,0.000000,1.997800,0.013900,0.007300,-349.757000,-198.867000,-91.348500,0.000000,5.745600
25%,23.671625,12.244325,2.433800,0.243075,0.132475,-14.387100,-8.924800,-10.540775,3.606275,142.671750
50%,34.558000,17.053300,2.704800,0.352600,0.195000,6.638150,16.912650,1.328000,9.708150,188.120000
75%,58.972125,22.652675,3.056150,0.500150,0.281600,24.872650,37.701075,10.620550,25.809000,234.784750
max,272.063000,176.335000,5.010000,0.888900,0.675200,219.896000,215.894000,101.393000,90.000000,450.402000

In [25]:
df[df['class'] == 'h'].describe()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist
count,6688.000000,6688.000000,6688.000000,6688.000000,6688.000000,6688.000000,6688.000000,6688.000000,6688.000000,6688.000000
mean,70.943504,28.797373,2.900609,0.374217,0.213937,-18.287111,-2.848298,0.358245,43.985233,200.434517
std,57.952729,27.192623,0.480612,0.191270,0.118051,82.297875,70.685797,29.918149,25.983935,81.870474
min,4.283500,0.000000,1.941300,0.013100,0.000300,-457.916100,-331.780000,-205.894700,0.009700,1.282600
25%,26.145400,11.243525,2.554775,0.219600,0.120500,-43.878875,-27.151475,-11.803875,21.195000,142.274250
50%,47.905400,17.384150,2.797650,0.358000,0.200250,-1.539600,11.124600,0.382600,43.382900,199.869550
75%,104.026925,36.464100,3.179850,0.510525,0.291325,22.087450,32.086275,11.972650,66.557550,250.789675
max,334.177000,256.382000,5.323300,0.893000,0.643000,575.240700,238.321000,179.851000,90.000000,495.561000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fLength   19020 non-null  float64
 1   fWidth    19020 non-null  float64
 2   fSize     19020 non-null  float64
 3   fConc     19020 non-null  float64
 4   fConc1    19020 non-null  float64
 5   fAsym     19020 non-null  float64
 6   fM3Long   19020 non-null  float64
 7   fM3Trans  19020 non-null  float64
 8   fAlpha    19020 non-null  float64
 9   fDist     19020 non-null  float64
 10  class     19020 non-null  object
dtypes: float64(10), object(1)
memory usage: 1.6+ MB

In [27]:
# Check for missing values
df.isnull().sum()

fLength     0
fWidth      0
fSize       0
fConc       0
fConc1      0
fAsym       0
fM3Long     0
fM3Trans    0
fAlpha      0
fDist       0
class       0
dtype: int64

In [28]:
df['class']

0        g
1        g
2        g
3        g
4        g
        ..
19015    h
19016    h
19017    h
19018    h
19019    h
Name: class, Length: 19020, dtype: object

In [29]:
df['class'] = (df['class']=='g').astype(int)
df['class']

0        1
1        1
2        1
3        1
4        1
        ..
19015    0
19016    0
19017    0
19018    0
19019    0
Name: class, Length: 19020, dtype: int64

In [32]:
df.info() # all are numeric now
# this dataset don't need to do one-hot encoding

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fLength   19020 non-null  float64
 1   fWidth    19020 non-null  float64
 2   fSize     19020 non-null  float64
 3   fConc     19020 non-null  float64
 4   fConc1    19020 non-null  float64
 5   fAsym     19020 non-null  float64
 6   fM3Long   19020 non-null  float64
 7   fM3Trans  19020 non-null  float64
 8   fAlpha    19020 non-null  float64
 9   fDist     19020 non-null  float64
 10  class     19020 non-null  int64
dtypes: float64(10), int64(1)
memory usage: 1.6 MB